.gallery-image {
  display: block;
  cursor: pointer;
  width: 360px;
  height: 200px;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 24px;
    padding: 24px 156px;
    max-width: 1440px;
}

div  {
  margin: 0;
  padding: 28px 164px;
  width: 1440px;
}